<appSettings>
<add key="COMMAND" value="EXPORT" />
<add key="FILENAME" value="EmailTemplate" />
<add key="TABLENAME" value="EmailTemplate" />
<add key="CONNECTION" value="Server=SQLPRI08DV01.prefirstcdn.com;initial catalog=AppSIT;persist security info=True;user id=edac;password=edac;" />
<add key="SELECTQUERY" value="SELECT [EmailTemplateID] ,[Subject]   ,[Body] FROM [EmailTemplate]" />
<add key="KEY_1_COLINDEX" value="2" />
<add key="UPDATE_1_COLINDEX" value="5" />
<add key="UPDATE_2_COLINDEX" value="6" />
<add key="UPDATE_3_COLINDEX" value="0" />
<add key="UPDATE_4_COLINDEX" value="0" />
</appSettings>


