<appSettings>
<add key="COMMAND" value="EXPORT" />
<add key="FILENAME" value="LIM_EmailTemplate" />
<add key="TABLENAME" value="[dbo].EmailTemplate" />
<add key="CONNECTION" value="Server=sqlpri08qa01.prefirstcdn.com;initial catalog=AppRQA2;persist security info=True;user id=edac;password=edac;" />
<add key="SELECTQUERY" value="SELECT [EmailTemplateID] ,[Subject]   ,[Body] FROM [dbo].[EmailTemplate]" />
<add key="KEY_1_COLINDEX" value="2" />
<add key="UPDATE_1_COLINDEX" value="3" />
<add key="UPDATE_2_COLINDEX" value="4" />
<add key="UPDATE_3_COLINDEX" value="5" />
<add key="UPDATE_4_COLINDEX" value="6" />
</appSettings>


