<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SQLImportExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <SQLImportExport.Properties.Settings>
      <setting name="COMMAND" serializeAs="String">
        <value>EXPORT</value>
      </setting>
      <setting name="SELECTQUERY" serializeAs="String">
        <value>SELECT [TemplateID],[TemplateKey],[LanguageID],[SubjectTemplate],[BodyTemplate] FROM [dbo].[tblEmailTemplate]</value>
      </setting>
      <setting name="FILENAME" serializeAs="String">
        <value>tblEmailTemplate</value>
      </setting>
      <setting name="CONNECTION" serializeAs="String">
        <value>Server=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT;persist security info=True;user id=edac;password=edac;</value>
      </setting>
      <setting name="TABLENAME" serializeAs="String">
        <value>tblEmailTemplate</value>
      </setting>
      <setting name="KEY_1_COLTYPE" serializeAs="String">
        <value>String</value>
      </setting>
      <setting name="KEY_1_COLINDEX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KEYCOLINDEX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UPDATE_1_COLINDEX" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="UPDATE_2_COLINDEX" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UPDATE_3_COLINDEX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UPDATE_4_COLINDEX" serializeAs="String">
        <value>0</value>
      </setting>
    </SQLImportExport.Properties.Settings>
  </applicationSettings>
</configuration>