<header class="main-header">
    <!-- Logo -->
    <a href="javascript:void(0);" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>L</b>LC</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>LLC</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top stepper">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- form progress bar -->
        <div class="row bs-wizard">
            <div class="col-xs-2 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Complete PIF</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#pif-pane" data-toggle="tab" class="fa fa-check-circle-o step-fa-circle-complete"></a>
                <div class="bs-wizard-info text-center">8-Nov-2016</div>
            </div>
            <div class="col-xs-2 bs-wizard-step complete">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Order Title Insurance</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#rff-pane" data-toggle="tab" class="fa fa-check-circle-o step-fa-circle-complete"></a>
                <div class="bs-wizard-info text-center">9-Nov-2016</div>
            </div>
            <div class="col-xs-2 bs-wizard-step active">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Request for Funds</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#rff-pane" data-toggle="tab" class="fa fa-circle-o step-fa-circle-incomplete"></a>
                <!--<div class="bs-wizard-info text-center">10-Nov-2016</div>-->
            </div>
            <div class="col-xs-2 bs-wizard-step">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Confirm Closing</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#confirm-closing-pane" data-toggle="tab" class="fa fa-circle-o step-fa-circle-incomplete"></a>
                <!--<div class="bs-wizard-info text-center">11-Nov-2016</div> background:#3c8dbc;-->
            </div>
            <div class="col-xs-2 bs-wizard-step">
                <!-- active -->
                <div class="text-center bs-wizard-stepnum">Send Final Report</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#srot-pane" data-toggle="tab" class="fa fa-circle-o step-fa-circle-incomplete"></a>
                <div class="bs-wizard-info text-center"></div>
            </div>
        </div>
        <!-- end of progress bar -->
        <div class="navbar-custom-menu" style="margin-top:-50px;">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                    <span class="hidden-xs">Closing Date: Dec 20, 2016</span>
                </a>
            </li>
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                    <span class="hidden-xs">Benny Mathew</span>
                </a>
            </li>
        </ul>
    </div>
    </nav>
</header>