<appSettings>
<add key="COMMAND" value="EXPORT" />
<add key="FILENAME" value="tblPaymentFieldInfo" />
<add key="TABLENAME" value="tblPaymentFieldInfo" />
<add key="CONNECTION" value="Server=SQLPRI08DV01.prefirstcdn.com;initial catalog=EPS;persist security info=True;user id=edac;password=edac;" />
<add key="SELECTQUERY" value="Select [PaymentFieldID] ,[PaymentFieldDefinition]   ,[FieldLabelEn]    ,[FieldLabelFr] FROM [EPS].[dbo].[tblPaymentFieldInfo]  WHERE [FieldLabelFr] LIKE '%FR_%'" />
<add key="KEY_1_COLINDEX" value="1" />
<add key="UPDATE_1_COLINDEX" value="3" />
<add key="UPDATE_2_COLINDEX" value="0" />
<add key="UPDATE_3_COLINDEX" value="0" />
<add key="UPDATE_4_COLINDEX" value="0" />
</appSettings>


