<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RequestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap"/>-->
      <!--<endpoint address="http://training.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
      <endpoint address="http://intratrain.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />
      <!--<endpoint address="http://sssglb.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
    </client>
  </system.serviceModel>
</configuration>