.panel-default >.panel-heading {
    background-color: #9dd0f5;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    vertical-align: middle;
    width: 100%;
}

.panel-default >.panel-body {
    background-color: #f0f5f8;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
