<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Auditing">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="EPSConnectionString" connectionString="Server=(LocalDB)\v11.0;Initial Catalog=EPS;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EPSConnectionString" connectionString="Data Source=SQLPRI08DV01.Prefirstcdn.com;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />-->
    <add name="EPSConnectionString" connectionString="Data Source=SQLPRI08QA01.Prefirstcdn.com;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />
    <add name="EPSLogConnectionString" connectionString="Data Source=SQLPRI08QA01.Prefirstcdn.com;Initial Catalog=EPS_Log;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="EPSLogConnectionString" connectionString="Data Source=SQLPRI08DV01.Prefirstcdn.com;Initial Catalog=EPS_Log;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TokenizationService_wsHTTPEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="RequestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://iisprillcsit02.prefirstcdn.com/FCT.EPS.TokenService2/TokenizationService.svc" binding="wsHttpBinding" bindingConfiguration="TokenizationService_wsHTTPEndpoint" contract="Tokenizer.ITokenization" name="TokenizationService_wsHTTPEndpoint" />
      <!--<endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap"/>-->
      <endpoint address="http://training.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />
      <!--<endpoint address="http://intratrain.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
      <!--<endpoint address="http://sssglb.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
    </client>
  </system.serviceModel>


</configuration>
