<appSettings>
<add key="COMMAND" value="EXPORT" />
<add key="FILENAME" value="LIM_Localization" />
<add key="TABLENAME" value="LanguageLocalizationMap" />
<add key="CONNECTION" value="Server=OAK-0010386\SQLEXPRESS;initial catalog=testDB;Trusted_Connection=Yes;" />
<add key="SELECTQUERY" value="SELECT  [LocalizationMapID] ,[LanguageID]   ,[LocalizationID]  ,[ProvinceID]   ,[Value]     FROM [tblLanguageLocalizationMap]" />
<add key="KEY_1_COLINDEX" value="1" />
<add key="KEY_2_COLINDEX" value="2" />
<add key="KEY_3_COLINDEX" value="3" />
<add key="KEY_4_COLINDEX" value="0" />
<add key="UPDATE_1_COLINDEX" value="5" />
<add key="UPDATE_2_COLINDEX" value="0" />
<add key="UPDATE_3_COLINDEX" value="0" />
<add key="UPDATE_4_COLINDEX" value="0" />
</appSettings>


