<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FCT.EPS.WSP.SETBA.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="CollectionConfigSection" type="FCT.EPS.WSP.Resources.CollectionConfigSection,FCT.EPS.WSP.Resources" />
  </configSections>
  <CollectionConfigSection>
    <ConfigElements>
      <ConfigElement key="Schedule">
        <SubElements>
          <ConfigSubElement key="2015-01-01T06:00:00" />
          <ConfigSubElement key="2015-01-01T06:30:00" />
          <ConfigSubElement key="2015-01-01T07:00:00" />
          <ConfigSubElement key="2015-01-01T07:30:00" />
          <ConfigSubElement key="2015-01-01T08:00:00" />
          <ConfigSubElement key="2015-01-01T08:30:00" />
          <ConfigSubElement key="2015-01-01T09:00:00" />
          <ConfigSubElement key="2015-01-01T09:30:00" />
          <ConfigSubElement key="2015-01-01T10:00:00" />
          <ConfigSubElement key="2015-01-01T10:30:00" />
          <ConfigSubElement key="2015-01-01T11:00:00" />
          <ConfigSubElement key="2015-01-01T11:30:00" />
          <ConfigSubElement key="2015-01-01T12:00:00" />
          <ConfigSubElement key="2015-01-01T12:30:00" />
          <ConfigSubElement key="2015-01-01T13:00:00" />
          <ConfigSubElement key="2015-01-01T13:30:00" />
          <ConfigSubElement key="2015-01-01T14:00:00" />
          <ConfigSubElement key="2015-01-01T14:30:00" />
          <ConfigSubElement key="2015-01-01T15:00:00" />
          <ConfigSubElement key="2015-01-01T15:30:00" />
          <ConfigSubElement key="2015-01-01T16:00:00" />
          <ConfigSubElement key="2015-01-01T16:30:00" />
          <ConfigSubElement key="2015-01-01T17:00:00" />
          <ConfigSubElement key="2015-01-01T17:30:00" />
        </SubElements>
      </ConfigElement>
      <!--<ConfigElement key="Test2">
        <SubElements>
          <ConfigSubElement key="-SubTest2.1" />
          <ConfigSubElement key="-SubTest2.2" />
        </SubElements>
      </ConfigElement>-->
    </ConfigElements>
  </CollectionConfigSection>
  <applicationSettings>
    <FCT.EPS.WSP.SETBA.Implementation.Properties.Settings>
      <setting name="ElectronicRequestFileFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SubmitElectronicRequestIntervalInMilliSeconds"
        serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxAllowedRetry" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ElectronicRequestFileArchivePath" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeSpanForFileCreation" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RoutingHeader" serializeAs="String">
        <value>$$LW00BALTRNSA[TEST[700$$</value>
      </setting>
      <setting name="ElectronicReportFileArchivePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportEmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportEmailSubject" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportEmailBody" serializeAs="String">
        <value />
      </setting>
      <setting name="BPSFileEmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="BPSFileEmailSubject" serializeAs="String">
        <value />
      </setting>
      <setting name="BPSFileEmailBody" serializeAs="String">
        <value />
      </setting>
    </FCT.EPS.WSP.SETBA.Implementation.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TokenizationService_wsHTTPEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="RequestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://iisprillcsit02.prefirstcdn.com/FCT.EPS.TokenService2/TokenizationService.svc" binding="wsHttpBinding" bindingConfiguration="TokenizationService_wsHTTPEndpoint" contract="Tokenizer.ITokenization" name="TokenizationService_wsHTTPEndpoint" />
      <!--<endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap"/>-->
      <!--<endpoint address="http://training.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
      <endpoint address="http://intratrain.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />
      <!--<endpoint address="http://sssglb.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
    </client>
  </system.serviceModel>
</configuration>