<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCT.EPS.WSP.GCLA.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
      <listeners>
        <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      </listeners>
      <formatters>
        <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
      </formatters>
      <categorySources>
        <add switchValue="All" name="General">
          <listeners>
            <add name="Event Log Listener" />
          </listeners>
        </add>
        <add switchValue="All" name="Auditing">
          <listeners>
            <add name="Event Log Listener" />
          </listeners>
        </add>
      </categorySources>
      <specialSources>
        <allEvents switchValue="All" name="All Events" />
        <notProcessed switchValue="All" name="Unprocessed Category" />
        <errors switchValue="All" name="Logging Errors &amp; Warnings">
          <listeners>
            <add name="Event Log Listener" />
          </listeners>
        </errors>
      </specialSources>
    </loggingConfiguration>
  <connectionStrings>
    <add name="EPSConnectionString" connectionString="[CONFIG_GCLA_DATABASE]" providerName="System.Data.SqlClient" />
    <add name="EPSLogConnectionString" connectionString="[CONFIG_GCLA_LOG_DATABASE]" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <FCT.EPS.WSP.GCLA.Implementation.Properties.Settings>
      <setting name="pollStart" serializeAs="String">
        <value>06:00:00</value>
      </setting>
      <setting name="GetElectronicPollingIntervalInMilliSeconds" serializeAs="String">
        <value>600000</value>
      </setting>
      <setting name="mailBodyDel" serializeAs="String">
        <value>The Creditor {0} [ID={1}] was received in today's the listing dated {2} with the disable rule . Please action accordingly.</value>
      </setting>
      <setting name="maxRetryNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="pathToArcCCListFile" serializeAs="String">
        <value>C:\wrkdir\EASYFUND\FCT\RBCBPS\Archive\Reception</value>
      </setting>
      <setting name="dateShift" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mailDateFormat" serializeAs="String">
        <value>{0:ddd-MM-yyyy}</value>
      </setting>
      <setting name="pathToReport" serializeAs="String">
        <value>C:\wrkdir\EASYFUND\FCT\RBCBPS\Archive\Report</value>
      </setting>
      <setting name="pathToCCListFile1" serializeAs="String">
        <value>C:\wrkdir\EASYFUND\FCT\RBCBPS\Reception\CCLISTA.*</value>
      </setting>
      <setting name="pathToArcCCListFile1" serializeAs="String">
        <value>C:\wrkdir\EASYFUND\FCT\RBCBPS\Archive\Reception</value>
      </setting>
      <setting name="dateShift1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mailSubjectErr" serializeAs="String">
        <value>RBC CC List has Error(s) - {0}. </value>
      </setting>
      <setting name="mailTo" serializeAs="String">
        <value>EasyFundSupport@fct.ca</value>
      </setting>
      <setting name="mailSubjectNew" serializeAs="String">
        <value>RBC CC List has New Creditor(s) - {0:ddd-MM-yyyy}</value>
      </setting>
      <setting name="mailSubjectDel" serializeAs="String">
        <value>Creditor found in RBC Creditor List dated {0} with new Disable rule. </value>
      </setting>
      <setting name="mailBodyNew" serializeAs="String">
        <value>The following new corporate creditors were added on {0:ddd-MM-yyyy}: {1}

Please action accordingly.</value>
      </setting>
      <setting name="retryInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="pathToCCListFile" serializeAs="String">
        <value>C:\wrkdir\EASYFUND\FCT\RBCBPS\Reception\CCLISTA.*</value>
      </setting>
      <setting name="pathToErrCCListFile" serializeAs="String">
        <value>C:\wrkdir\EASYFUND\FCT\RBCBPS\Archive\Reception</value>
      </setting>
      <setting name="mailBodyErr" serializeAs="String">
        <value>The following corporate creditors were not processed owing to errors on {0} : 
          {1}.
          
          Please action accordingly.
        </value>
      </setting>
    </FCT.EPS.WSP.GCLA.Implementation.Properties.Settings>
  </applicationSettings>
</configuration>