<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCT.EPS.WSP.GEDMA.Implemantation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FCT.EPS.WSP.GEDMA.Implemantation.Properties.Settings>
            <setting name="GetElectronicMessagesIntervalInMilliSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pathToElectronicRejectedTransactionsFiles" serializeAs="String">
                <value>c:\wrkdir\</value>
            </setting>
            <setting name="pathToElectronicRejectedTransactionsFilesArchive"
                serializeAs="String">
                <value>c:\wrkdir\Archive</value>
            </setting>
            <setting name="ElectronicReportFileArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportEmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportEmailSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportEmailBody" serializeAs="String">
                <value />
            </setting>
        </FCT.EPS.WSP.GEDMA.Implemantation.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RequestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap"/>-->
      <!--<endpoint address="http://training.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
      <endpoint address="http://intratrain.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />
      <!--<endpoint address="http://sssglb.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
    </client>
  </system.serviceModel>
</configuration>