<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\SC\FCT.EPS.Agents\ChinhDo.Transactions.FileManagerTest\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.DataAccess\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.DataAccessTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCLA.BusinessLogic\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCLA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCLA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCLA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCSA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCSA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GCSA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GEDMA.BusinessLogic\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GEDMA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GEDMA.Implemantation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GEDMA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GetChequeStateTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GFSA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GFSA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GFSA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GSMA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GSMA.Implemantation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.GSMA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SBWTSA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SBWTSA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SCPRTPTA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SCPRTPTA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SCTFA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SCTFA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SCTFA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SETBA.BusinessLogic\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SETBA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SETBA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SFTFA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SFTFA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SFTFA.ImplementationTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SFTFA.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SPRTPTA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SPRTPTA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SPRTPTA.ImplementationTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SRA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SRA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SSWIFTA.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.Agents\FCT.EPS.WSP.SSWIFTA.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.BusinessLogicTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.DataAccess\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.DataAccessTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.Implementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.ImplementationTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.ResourcesTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.FinanceService\FCT.EPS.FinanceService.WebTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.NotificationMonitor\FCT.EPS.NotificationMonitor.Resources\packages.config" />
  <repository path="..\..\SC\FCT.EPS.NotificationMonitor\FCT.EPS.NotificationMonitor.ResourcesTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.NotificationMonitor\FCT.EPS.NotificationMonitor\packages.config" />
  <repository path="..\..\SC\FCT.EPS.NotificationMonitor\FCT.EPS.NotificationMonitorTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.BusinessLogic.Tests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.DataAccess.Tests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.DataAccess\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.DataEntities\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.GenericRepository\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.Implementation.Tests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.Logging\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PayeeService\FCT.EPS.PayeeService.ServiceImplementation\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.BusinessLogic.Tests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.BusinessLogic\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.DataAccess.Tests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.DataAccess\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.DataAccessTests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.Implementation.Tests\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.Logging\packages.config" />
  <repository path="..\..\SC\FCT.EPS.PaymentService\FCT.EPS.PaymentService.ServiceImplementation\packages.config" />
  <repository path="..\..\SC\FCTSwiftMap\Test.SwiftMap\TestSwiftMap\packages.config" />
</repositories>