<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CollectionConfigSection" type="FCT.EPS.WSP.Resources.CollectionConfigSection,FCT.EPS.WSP.Resources" />
  </configSections>
  <CollectionConfigSection>
    <ConfigElements>
      <ConfigElement key="Schedule">
        <SubElements>
          <ConfigSubElement key="2015-01-01T11:00:00" />
          <ConfigSubElement key="2015-01-01T23:00:00" />
        </SubElements>
      </ConfigElement>
      <!--<ConfigElement key="Test2">
        <SubElements>
          <ConfigSubElement key="-SubTest2.1" />
          <ConfigSubElement key="-SubTest2.2" />
        </SubElements>
      </ConfigElement>-->
    </ConfigElements>
  </CollectionConfigSection>
</configuration>