<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDbContext"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=sqlpri08qa01.prefirstcdn.com;Initial Catalog=LLCRQA;Persist Security Info=True;User ID=edac;Password=edac;
        Application Name=FCT.LLC.Portal.DTOs" />
  </connectionStrings>
</configuration>