<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="EFBusinessContext" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=LLCRQA2;persist security info=True;user id=edac;password=edac;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LoggingConnection" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=LLCRQA2_Log;persist security info=True;user id=edac;password=edac;" providerName="System.Data.SqlClient"/>-->
    <add name="EFBusinessContext" connectionString="data source=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT2;persist security info=True;user id=edac;password=edac;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LoggingConnection" connectionString="data source=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT2_Log;persist security info=True;user id=edac;password=edac;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="SourceSystemNumber" value="10"/>
    <add key="EPSSubscriptionID" value="1"/>
    <add key="EasyFundSupportEmail" value="EasyFundSupport@fct.ca"/>
    <add key="OpsTester" value="true"/>
    <add key="AppLockTimeOut" value="60000"/>
    <add key="WireDepositSeparator" value="-"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
