<appSettings>
<add key="COMMAND" value="EXPORT" />
<add key="FILENAME" value="LLC_Globalization" />
<add key="TABLENAME" value="tblGlobalization" />
<add key="CONNECTION" value="Server=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT;persist security info=True;user id=edac;password=edac;" />
<add key="SELECTQUERY" value="SELECT ResourceID, ResourceSet, ResourceKey, (SELECT Value FROM tblGlobalization WHERE LocaleID = 'en' AND ResourceSet = G.ResourceSet AND ResourceKey = G.ResourceKey) AS English, Value AS French FROM tblGlobalization G WHERE Value LIKE 'FR\_%' ESCAPE '\'
          UNION SELECT ResourceID, ResourceSet, ResourceKey, (SELECT Value FROM tblGlobalization WHERE LocaleID = 'en' AND ResourceSet = G.ResourceSet AND ResourceKey = G.ResourceKey) AS English, Value AS French FROM tblGlobalization G WHERE Value LIKE '\[FR]%' ESCAPE '\'
          ORDER BY ResourceSet, ResourceKey" />
<add key="KEY_1_COLINDEX" value="3" />
<add key="UPDATE_1_COLINDEX" value="7" />
<add key="UPDATE_2_COLINDEX" value="0" />
<add key="UPDATE_3_COLINDEX" value="0" />
<add key="UPDATE_4_COLINDEX" value="0" />
</appSettings>


