<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCT.EPS.WSP.SRA.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FCT.EPS.WSP.SRA.Implementation.Properties.Settings>
            <setting name="AgentPollingIntervalInMilliseconds" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="HowManyPaymentTransactionRecordsToGet" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxAllowedRetry" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HowManyRowBetweenHeaderAndData" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FileArchiveLocation" serializeAs="String">
                <value>C:\wrkdir\EASYFUND\FCT\Archive\BatchPaymentReport</value>
            </setting>
            <setting name="DMSWrkDirLocation" serializeAs="String">
                <value>\\INTRAtrain.prefirstcdn.com\WrkDir\</value>
            </setting>
        </FCT.EPS.WSP.SRA.Implementation.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RequestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap"/>-->
      <!--<endpoint address="http://training.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
      <endpoint address="http://intratrain.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />
      <!--<endpoint address="http://sssglb.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
    </client>
  </system.serviceModel>

</configuration>