<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCT.EPS.WSP.SCTFA.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"></section>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <switches>
      <add name="FCT.EPS.WindowsServicePlugins" value="Verbose" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myFileTracer" type="System.Diagnostics.TextWriterTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\wrkdir\FCT.EPS.WSP.SCTFA.BusinessLogicTests.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="EPSConnectionString" connectionString="Server=(LocalDB)\v11.0;Initial Catalog=EPS;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EPSConnectionString" connectionString="Data Source=SQLPRI08DV01.Prefirstcdn.com;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />-->
    <add name="EPSConnectionString" connectionString="Data Source=SQLPRI08QA01.Prefirstcdn.com;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />
    <add name="EPSLogConnectionString" connectionString="Data Source=local;Initial Catalog=EPS_Log;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EPSBasicHttpEndpoint" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="EPSNetTcpEndpoint" />
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://IISPRILLCRQA03.prefirstcdn.com/FCT.EPS.FinanceService/FinanceService.svc" binding="netTcpBinding" bindingConfiguration="EPSNetTcpEndpoint" contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint" />-->
      <endpoint address="net.tcp://localhost/FinanceService/FinanceService.svc" binding="netTcpBinding" bindingConfiguration="EPSNetTcpEndpoint" contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint" />
      <endpoint address="http://localhost/FinanceService/FinanceService.svc" binding="basicHttpBinding" bindingConfiguration="EPSBasicHttpEndpoint" contract="FinanceService.IFinanceService" name="EPSBasicHttpEndpoint" />
      <!--<endpoint address="http://IISPRILLCRQA03.prefirstcdn.com/FCT.EPS.FinanceService/FinanceService.svc" binding="basicHttpBinding" bindingConfiguration="EPSBasicHttpEndpoint" contract="FinanceService.IFinanceService" name="EPSBasicHttpEndpoint" />-->
    </client>
  </system.serviceModel>
  <applicationSettings>
    <FCT.EPS.WSP.SCTFA.Implementation.Properties.Settings>
      <setting name="SendChequesToFinanceAgentIntervalInMilliSeconds" serializeAs="String">
        <value>3600000</value>
      </setting>
      <setting name="HowManyRecordsToGet" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultEndpoint" serializeAs="String">
        <value>EPSNetTcpEndpoint</value>
      </setting>
      <setting name="NumberOfRetries" serializeAs="String">
        <value>10</value>
      </setting>
    </FCT.EPS.WSP.SCTFA.Implementation.Properties.Settings>
  </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
