<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"></section>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCT.EPS.WSP.GCSA.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="EPSLogConnectionString" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Database Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="All"></add>
      <add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="FCT.EPS.WSP.SCTFA.Implementation" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="All"></add>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Database Formatter"></add>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Text Formatter"></add>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Database Trace Listener"></add>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Auditing">
        <listeners>
          <add name="Database Trace Listener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Database Trace Listener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Critical">
        <listeners>
          <add name="Database Trace Listener"></add>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Database Trace Listener"></add>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"></allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--<add name="EPSConnectionString" connectionString="Data Source=local;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />-->
    <add name="EPSConnectionString" connectionString="data source=SQLPRI08DV01.prefirstcdn.com;initial catalog=EPS;persist security info=True;user id=edac;password=edac;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="EPSConnectionString" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=EPS;persist security info=True;user id=edac;password=edac;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="EPSLogConnectionString" connectionString="Data Source=SQLPRI08DV01.Prefirstcdn.com;Initial Catalog=EPS_Log;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="EPSNetTcpBinding" transactionFlow="true">
          <security mode='Transport'>
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="EPSwsHttpBinding" transactionFlow="true">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://IISPRILLCSIT02.prefirstcdn.com/FCT.EPS.FinanceService.Implementation/FinanceService.svc"
          binding="netTcpBinding" bindingConfiguration="EPSNetTcpEndpoint"
          contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint">
        <identity>
          <userPrincipalName value="pbinnell@firstcdn.com" />
        </identity>
      </endpoint>-->
      <endpoint address="net.tcp://APPPRIDEVSG02.prefirstcdn.com/FCT.EPS.FinanceService.Implementation/FinanceService.svc" binding="netTcpBinding" bindingConfiguration="EPSNetTcpBinding" contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint" />
      <!--<endpoint address="net.tcp://IISPRILLCSIT02.prefirstcdn.com/FCT.EPS.FinanceService/FinanceService.svc" binding="netTcpBinding" bindingConfiguration="EPSNetTcpBinding" contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint"></endpoint>-->
      <!--<endpoint address="net.tcp://iisprillcrqa03.prefirstcdn.com/FCT.EPS.FinanceService/FinanceService.svc" binding="netTcpBinding" bindingConfiguration="EPSNetTcpBinding" contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint"></endpoint>-->
      
      <!--<endpoint address="net.tcp://OAK-PB-VS2013.firstcdn.com/FCT.EPS.FinanceService.Implementation/FinanceService.svc" binding="netTcpBinding" bindingConfiguration="EPSNetTcpBinding" contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint"></endpoint>-->
      <!--<endpoint address="http://APPPRIDEVSG02.prefirstcdn.com/FCT.EPS.FinanceService.Implementation/FinanceService.svc" binding="wsHttpBinding" bindingConfiguration="EPSwsHttpBinding" contract="FinanceService.IFinanceService" name="EPSwsHttpEndpoint"></endpoint>-->
      <!--<endpoint address="http://iisprillcrqa03.prefirstcdn.com/FCT.EPS.FinanceService/FinanceService.svc" binding="wsHttpBinding" bindingConfiguration="EPSwsHttpBinding" contract="FinanceService.IFinanceService" name="EPSwsHttpEndpoint"></endpoint>-->
    </client>
  </system.serviceModel>
  <applicationSettings>
    <FCT.EPS.WSP.GCSA.Implementation.Properties.Settings>
      <setting name="GetChequeStateIntervalInMilliSeconds" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="HowManyRecordsToGet" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultEndpoint" serializeAs="String">
        <value>EPSNetTcpEndpoint</value>
      </setting>
      <setting name="NumberOfRetries" serializeAs="String">
        <value>10</value>
      </setting>
    </FCT.EPS.WSP.GCSA.Implementation.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>