<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FCT.LLC.Email" type="FCT.LLC.Common.NotificationEmailDispatching.Client.EmailConfiguration, FCT.LLC.Common.NotificationEmailDispatching.Client" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCT.LLC.DocumentService.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FCT.LLC.DocumentService.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FCT.LLC.DocumentService.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FCT.Common.Cryptography.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--SIT
  
    <add name="EFBusinessContext" connectionString="Data Source=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient"/>
    <add name="LoggingConnection" connectionString="data source=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT_Log;persist security info=True;user id=edac;password=edac;" providerName="System.Data.SqlClient"/>
    <add name="LLCDBconnection" connectionString="data source=SQLPRI08DV01.prefirstcdn.com;initial catalog=LLCSIT;persist security info=True;user id=edac;password=edac;" providerName="System.Data.SqlClient"/>
    -->  <!--RQA
    <add name="EFBusinessContext" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=LLCRQA;persist security info=True;user id=edac;password=edac;App=EntityFramework;" providerName="System.Data.SqlClient" />
    <add name="LoggingConnection" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=LLCRQA_Log;persist security info=True;user id=edac;password=edac;" providerName="System.Data.SqlClient" />
    <add name="LLCDBconnection" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=LLCRQA;persist security info=True;user id=edac;password=edac;" providerName="System.Data.SqlClient" />
    -->
    <!-- RQA 2 -->
     <add name="EFBusinessContext" connectionString="Data Source=SQLPRI08QA01.prefirstcdn.com;Initial Catalog=LLCRQA2;Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
    <add name="LoggingConnection" connectionString="data source=SQLPRI08QA01.prefirstcdn.com;initial catalog=LLCRQA2_Log;Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
    <add name="LLCDBconnection" connectionString="Data Source=SQLPRI08QA01.prefirstcdn.com;Initial Catalog=LLCRQA2;Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
    
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SourceSystemNumber" value="10" />
    <add key="EPSSubscriptionID" value="1" />
    <add key="EasyFundSupportEmail" value="EasyFundSupport@fct.ca" />
    <add key="OpsTester" value="true" />
    <add key="AppLockTimeOut" value="60000" />
    <add key="WireDepositSeparator" value="-" />
  </appSettings>
  <FCT.LLC.Email SystemServiceUrl="http://training.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" DMSApplication="LLC" PortalUrl="http://localhost/LLC/LawyerPortal/Login.aspx" FCTOfficePhoneNumber="905.287.3380" FCTOfficeTollFreePhoneNumber="1.877.888.1153" LenderSupportPhoneNumber="905.287.3380" LenderSupportTollFreeNumber="1.877.888.1153" LenderSupportEmail="fctlendersupport@firstcdn.com" LawyerSupportEmail="LLCSupport@firstcdn.com" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="FCT.LLC.BusinessService.LLCBusinessService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" contract="FCT.LLC.BusinessService.Contracts.ILLCBusinessService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/FCT.LLC.BusinessService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mex" name="FCT.LLC.BusinessService.PaymentTrackingService">
        <!--<endpoint address="" binding="netTcpBinding" bindingConfiguration="PaymentTrackingService_netTcpBinding" name="PaymentTrackingService_netTcpEndpoint" contract="FCT.LLC.BusinessService.Contracts.IPaymentTrackingService" />-->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="PaymentTrackingService_wsHttpBinding" name="PaymentTrackingService_wsHTTPEndpoint" contract="FCT.LLC.BusinessService.Contracts.IPaymentTrackingService" />
        <!--<endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
                  contract="FCT.LLC.BusinessService.Contracts.IPaymentTrackingService">
        </endpoint>-->
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="False" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <bindings>
      <basicHttpBinding>
        <binding name="UniqueReferenceNumberSoap" />
        <binding name="BasicHttpBinding_IDocumentTransfer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="16384000" maxBufferSize="55924736" maxReceivedMessageSize="55924736" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="55924736" maxBytesPerRead="4096" maxNameTableCharCount="16384000"></readerQuotas>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"></message>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDocumentGeneration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="16384000" maxBufferSize="16384000" maxReceivedMessageSize="16384000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000"></readerQuotas>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"></message>
          </security>
        </binding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
        <binding name="PayeeServiceBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="AntivirusReceiverSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="16384000" maxBufferSize="16384000" maxReceivedMessageSize="16384000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000"></readerQuotas>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"></message>
          </security>
        </binding>

      </basicHttpBinding>
      <!--<netTcpBinding>
        <binding name="PaymentTrackingService_netTcpBinding" transactionFlow="true">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>-->
      <wsHttpBinding>
        <binding name="PaymentTrackingService_wsHttpBinding" transactionFlow="true">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="PaymentTransferService_wsHttpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--SIT-->
    <!--<client>
      <endpoint address="http://training.prefirstcdn.com/fcturn/fcturn.asmx"
                binding="basicHttpBinding" bindingConfiguration="UniqueReferenceNumberSoap"
                contract="FCTURNReference.UniqueReferenceNumberSoap" name="UniqueReferenceNumberSoap" />
      <endpoint address="http://iisprillcisit01.prefirstcdn.com/Lim/LIMService.svc"
                binding="basicHttpBinding" contract="FCT.Services.LIM.ServiceContracts.ILIMServiceContract"
                name="LIMService" />
      <endpoint address="http://iisprillcisit01.prefirstcdn.com/FCT.AuditLogService/AuditLogService.svc"
                binding="basicHttpBinding" contract="FCT.Services.AuditLog.ServiceContracts.IAuditLogService"
                name="AuditLogServiceEndpoint" />
                      <endpoint address="http://iisprillcisit01.prefirstcdn.com/FCT.AuditLogService/AuditLogService.svc"
                binding="basicHttpBinding" contract="AuditLog_Service.AuditLogService"
                name="AuditLogEndpoint" />
      <endpoint address="https://iisprillcisit01.prefirstcdn.com/FCT.EPS.PaymentService/PaymentTransferService.svc"
                binding="wsHttpBinding" name="PaymentService"
                bindingConfiguration="PaymentTransferService_wsHttpBinding"
                contract="FCT.EPS.PaymentService.DataContracts.IPaymentTransferService" />
      <endpoint address="https://iisprillcsit02.prefirstcdn.com/FCT.EPS.PayeeService/EPSPayeeService.svc"
                binding="basicHttpBinding" contract="FCT.EPS.PayeeService.Contracts.IEPSPayeeService" bindingConfiguration="PayeeServiceBinding"
                name="PayeeService" />
      <endpoint address="http://IISPRILLCISIT01.prefirstcdn.com/DocServices/IDocumentGeneration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentGeneration"
                contract="DocumentGenerationWS.IDocumentGeneration" name="BasicHttpBinding_IDocumentGeneration">
      </endpoint>
      <endpoint address="http://IISPRILLCISIT01.prefirstcdn.com/DocServices/IDocumentTransfer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentTransfer"
                contract="DocumentTransferWS.IDocumentTransfer" name="BasicHttpBinding_IDocumentTransfer">
      </endpoint>
    </client>-->
    <!--RQA
    <client>
      <endpoint address="http://training.prefirstcdn.com/fcturn/fcturn.asmx" binding="basicHttpBinding" bindingConfiguration="UniqueReferenceNumberSoap" contract="FCTURNReference.UniqueReferenceNumberSoap" name="UniqueReferenceNumberSoap"></endpoint>
      <endpoint address="http://IISPRILLCIQA01.prefirstcdn.com/Lim/LIMService.svc" binding="basicHttpBinding" name="LIMService" contract="FCT.Services.LIM.ServiceContracts.ILIMServiceContract"></endpoint>
      <endpoint address="http://iisprillciqa01.prefirstcdn.com/FCT.LLC.AuditLogService/AuditLogService.svc" binding="basicHttpBinding" name="AuditLogServiceEndpoint" contract="FCT.Services.AuditLog.ServiceContracts.IAuditLogService"></endpoint>
      <endpoint address="http://llcdp.firstcdn.com/FCT.EPS.PaymentService/PaymentTransferService.svc" binding="wsHttpBinding" bindingConfiguration="PaymentTransferService_wsHttpBinding" name="PaymentService" contract="FCT.EPS.PaymentService.DataContracts.IPaymentTransferService"></endpoint>
      <endpoint address="http://IISPRILLCIQA01.prefirstcdn.com/DocServices/IDocumentGeneration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentGeneration" contract="DocumentGenerationWS.IDocumentGeneration" name="BasicHttpBinding_IDocumentGeneration"></endpoint>
      <endpoint address="http://IISPRILLCIQA01.prefirstcdn.com/DocServices/IDocumentTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentTransfer" contract="DocumentTransferWS.IDocumentTransfer" name="BasicHttpBinding_IDocumentTransfer"></endpoint>
      <endpoint address="http://llcdp.firstcdn.com/FCT.EPS.PayeeService/EPSPayeeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="PayeeService" contract="FCT.EPS.PayeeService.Contracts.IEPSPayeeService"></endpoint>
      <endpoint address="http://IISPRIUTILQA05.exfirstcdn.com/AVS/AntivirusReceiver.asmx" binding="basicHttpBinding" bindingConfiguration="AntivirusReceiverSoap" contract="VirusScanWS.AntivirusReceiverSoap" name="AntivirusReceiverSoap"></endpoint>
      <endpoint address="http://iisprillciqa01.prefirstcdn.com/FCT.LLC.AuditLogService/AuditLogService.svc" binding="basicHttpBinding" name="AuditLogEndpoint" contract="AuditLog_Service.AuditLogService"></endpoint>
    </client>-->
    <!--RQA 2-->
    <client>
      <endpoint address="http://training.prefirstcdn.com/fcturn/fcturn.asmx" binding="basicHttpBinding" bindingConfiguration="UniqueReferenceNumberSoap" contract="FCTURNReference.UniqueReferenceNumberSoap" name="UniqueReferenceNumberSoap"></endpoint>
      <endpoint address="http://IISPRIMMSIQA02.prefirstcdn.com/Lim/LIMService.svc" binding="basicHttpBinding"  name="LIMService" contract="FCT.Services.LIM.ServiceContracts.ILIMServiceContract"></endpoint>
      <endpoint address="http://iisprimmsiqa02.prefirstcdn.com/FCT.AuditLogService/AuditLogService.svc" binding="basicHttpBinding" name="AuditLogServiceEndpoint" contract="FCT.Services.AuditLog.ServiceContracts.IAuditLogService"></endpoint>
      <endpoint address="https://llcdp.firstcdn.com/FCT.EPS.PaymentService/PaymentTransferService.svc" binding="wsHttpBinding" bindingConfiguration="PaymentTransferService_wsHttpBinding" name="PaymentService" contract="FCT.EPS.PaymentService.DataContracts.IPaymentTransferService"></endpoint>
      <endpoint address="https://iisprimmsiqa02.prefirstcdn.com/DocServices/IDocumentGeneration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentGeneration" contract="DocumentGenerationWS.IDocumentGeneration" name="BasicHttpBinding_IDocumentGeneration"></endpoint>
      <endpoint address="https://iisprimmsiqa02.prefirstcdn.com/DocServices/IDocumentTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentTransfer" contract="DocumentTransferWS.IDocumentTransfer" name="BasicHttpBinding_IDocumentTransfer"></endpoint>
      <endpoint address="https://llcdp.firstcdn.com/FCT.EPS.PayeeService/EPSPayeeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="PayeeService" contract="FCT.EPS.PayeeService.Contracts.IEPSPayeeService"></endpoint>
      <endpoint address="http://iispriutilsg01.prefirstcdn.com/AVS/AntivirusReceiver.asmx" binding="basicHttpBinding" bindingConfiguration="AntivirusReceiverSoap" contract="VirusScanWS.AntivirusReceiverSoap" name="AntivirusReceiverSoap"></endpoint>
      <endpoint address="http://iisprimmsiqa02.prefirstcdn.com/FCT.AuditLogService/AuditLogService.svc" binding="basicHttpBinding" name="AuditLogEndpoint" contract="AuditLog_Service.AuditLogService"></endpoint>
    </client> 
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="LoggingConnection" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack" filter="Error" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Error" name="General">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Error" name="All Events">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="Error" name="Unprocessed Category">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="LoggingConnection" />
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\llc\LLCBusinessService.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <applicationSettings>
    <FCT.LLC.DocumentService.Data.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>LLCDBconnection</value>
      </setting>
    </FCT.LLC.DocumentService.Data.Properties.Settings>
    <FCT.LLC.DocumentService.Common.Properties.Settings>
      <setting name="PdfPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>LLCDBconnection</value>
      </setting>
      <setting name="TemplateMappingCacheManager" serializeAs="String">
        <value />
      </setting>
      <setting name="TemplatePDFCacheManager" serializeAs="String">
        <value />
      </setting>
      <setting name="TemplateFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LoadTemplateFromDB" serializeAs="String">
        <value>False</value>
      </setting>
    </FCT.LLC.DocumentService.Common.Properties.Settings>
    <FCT.Common.Cryptography.Properties.Settings>
      <setting name="ConnectionStringName" serializeAs="String">
        <value>LLCDBconnection</value>
      </setting>
      <setting name="EncryptionEnabled" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="KeyFilePath" serializeAs="String">
        <value>[CONFIG_ENCRYPT_KEY_FILE_PATH]</value>
      </setting>
      <setting name="CryptoCurrentVersion" serializeAs="String">
        <value>001</value>
      </setting>
    </FCT.Common.Cryptography.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
