<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"></section>

    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FCT.EPS.WSP.GCLA.BusinessLogicTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="EPSLogConnectionString" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Database Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="All"></add>
      <add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="FCT.EPS.WSP.SCTFA.Implementation" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="All"></add>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Database Formatter"></add>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging,  Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Text Formatter"></add>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Database Trace Listener"></add>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Auditing">
        <listeners>
          <add name="Database Trace Listener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Database Trace Listener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Critical">
        <listeners>
          <add name="Database Trace Listener"></add>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Database Trace Listener"></add>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"></allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"></add>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EPSConnectionString" connectionString="Data Source=SQLPRI08DV01.Prefirstcdn.com;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />
    <add name="EPSLogConnectionString" connectionString="Data Source=SQLPRI08DV01.Prefirstcdn.com;Initial Catalog=EPS_Log;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />
    <!--<add name="EPSConnectionString" connectionString="Data Source=SQLPRI08QA01.Prefirstcdn.com;Initial Catalog=EPS;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />
    <add name="EPSLogConnectionString" connectionString="Data Source=SQLPRI08QA01.Prefirstcdn.com;Initial Catalog=EPS_Log;Persist Security Info=True;User ID=edac;Password=edac;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RequestSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap"/>-->
      <!--<endpoint address="http://training.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
      <endpoint address="http://intratrain.prefirstcdn.com/DocumentServices/WebSubmissionServer/Request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />
      <!--<endpoint address="http://sssglb.prefirstcdn.com/documentservices/websubmissionserver/request.asmx" binding="basicHttpBinding" bindingConfiguration="RequestSoap" contract="SystemService.RequestSoap" name="RequestSoap" />-->
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <switches>
      <add name="FCT.EPS.WSP.GCLA" value="verbose"/>
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myFileTracer" type="System.Diagnostics.TextWriterTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\wrkdir\FCT.EPS.GCLA.Implementation.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <FCT.EPS.WSP.GCLA.BusinessLogicTests.Properties.Settings>
      <setting name="pathToCCListFile" serializeAs="String">
        <value>C:\DOC\WORK\TASK\EPS-Merger for CREDIT CARD\TEST\CCLISTA.*</value>
      </setting>
      <setting name="pathToArcCCListFile" serializeAs="String">
        <value>C:\DOC\WORK\TASK\EPS-Merger for CREDIT CARD\TEST</value>
      </setting>
      <setting name="pathToReport" serializeAs="String">
        <value>C:\DOC\WORK\TASK\EPS-Merger for CREDIT CARD\TEST</value>
      </setting>
      <setting name="mailBodyErr" serializeAs="String">
        <value>The following corporate creditors were not updated owing to errors on {0}: 
    {1}

    Please action accordingly.</value>
      </setting>
    </FCT.EPS.WSP.GCLA.BusinessLogicTests.Properties.Settings>
  </applicationSettings>
</configuration>
