<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPaymentTrackingService" />
                <binding name="BasicHttpBinding_IPaymentTrackingService1" />
                <binding name="BasicHttpBinding_IPaymentTrackingService2" />
                <binding name="RequestSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="EPSNetTcpEndpoint" transactionFlow="true" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="EPSwsHttpEndpoint" transactionFlow="true">
                    <security mode="Transport" />
                </binding>
                <binding name="WSHttpBinding_IPaymentTrackingService" transactionFlow="true" />
                <binding name="PaymentTrackingService_wsHTTPEndpoint" transactionFlow="true">
                    <security mode="Transport" />
                </binding>
                <binding name="TokenizationService_wsHTTPEndpoint">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BusinessService/PaymentTrackingService.svc/wsHttp"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPaymentTrackingService"
                contract="PaymentTrackingServiceReference.IPaymentTrackingService"
                name="WSHttpBinding_IPaymentTrackingService" />
            <endpoint address="https://apppridevsg02.prefirstcdn.com/FCT.LLC.BusinessServiceCode/PaymentTrackingService.svc"
                binding="wsHttpBinding" bindingConfiguration="PaymentTrackingService_wsHTTPEndpoint"
                contract="PaymentTrackingServiceReference.IPaymentTrackingService"
                name="PaymentTrackingService_wsHTTPEndpoint">
                <identity>
                    <userPrincipalName value="llcq9sit@Prefirstcdn.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://apppridevsg02.prefirstcdn.com/FCT.EPS.FinanceService.Implementation/FinanceService.svc"
                binding="netTcpBinding" bindingConfiguration="EPSNetTcpEndpoint"
                contract="FinanceService.IFinanceService" name="EPSNetTcpEndpoint">
                <identity>
                    <userPrincipalName value="pbinnell@firstcdn.com" />
                </identity>
            </endpoint>
            <endpoint address="https://apppridevsg02.prefirstcdn.com/FCT.EPS.FinanceService.Implementation/FinanceService.svc"
                binding="wsHttpBinding" bindingConfiguration="EPSwsHttpEndpoint"
                contract="FinanceService.IFinanceService" name="EPSwsHttpEndpoint">
                <identity>
                    <userPrincipalName value="pbinnell@firstcdn.com" />
                </identity>
            </endpoint>
            <endpoint address="http://ssoakmint02.prefirstcdn.com/documentservices/websubmissionserver/request.asmx"
                binding="basicHttpBinding" bindingConfiguration="RequestSoap"
                contract="SystemService.RequestSoap" name="RequestSoap" />
            <endpoint address="https://iisprillcsit02.prefirstcdn.com/FCT.EPS.TokenService2/TokenizationService.svc"
                binding="wsHttpBinding" bindingConfiguration="TokenizationService_wsHTTPEndpoint"
                contract="Tokenizer.ITokenization" name="TokenizationService_wsHTTPEndpoint" />
        </client>
    </system.serviceModel>
</configuration>